__pycache__/
.venv/
build/
venv/
.vscode/
*.bak
*.csv
*.dat
*.duckdb
*.egg-info/
*.jar
*.osm
*.parquet
*.pbf
*.pyc
*.session.sql
*.tar
*.tif
*.tiff
*.wal
*.zip
*.zst
plan
.env
.env.tpl
.DS_Store

# Ignore all R files
renv/
rosm.cache/
.Rproj.user/
*.R
*.Rproj
.Renviron
.Renvignore
.Rprofile
renv.lock
