*.bak
*.csv
*.dat
*.db
*.duckdb
*.egg-info/
*.html
*.jar
*.osm
*.parquet
*.pbf
*.pyc
*.quarto*
*.session.sql
*.tar
*.tif
*.tiff
*.wal
*.xls
*.xlsx
*.zip
*.zst
.DS_Store
.coverage
.env
.env.tpl
.venv/
.vscode/
__pycache__/
build/
htmlcov/
plan
venv/
*_cache/

# Created by Quarto on preview
*_files/

# Ignore all R files
.Renvignore
.Rhistory
.Rprofile
.Rproj.user/
rosm.cache/
**/renv/
!**/renv/activate.R

# Ignore internal notes files
notes.md
