*.bak
*.csv
*.dat
*.duckdb
*.egg-info/
*.html
*.jar
*.osm
*.parquet
*.pbf
*.pyc
*.quarto*
*.session.sql
*.tar
*.tif
*.tiff
*.wal
*.zip
*.zst
.DS_Store
.coverage
.env
.env.tpl
.venv/
.vscode/
__pycache__/
build/
htmlcov/
plan
venv/

# Ignore all R files
.Renvignore
.Rhistory
.Rprofile
.Rproj.user/
renv.lock
rosm.cache/
