repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.11
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uvx ty check . --ignore unresolved-import --ignore unresolved-attribute
        language: system
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.36.2
    hooks:
      - id: yamllint
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.4.0
    hooks:
      - id: sqlfluff-lint
        args: [--dialect=trino]
        files: \.sql$
      - id: sqlfluff-fix
        args: [--dialect=trino]
        files: \.sql$
